[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-genai = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
langfuse = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"
